{% extends "base.html" %}

{% block styles  %}
  {{ super() }}
  <link href="/static/stats.css" rel="stylesheet">
{% endblock styles  %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-primary active">За сегодня</button>
            <button type="button" class="btn btn-outline-primary">За неделю</button>
            <button type="button" class="btn btn-outline-primary">За месяц</button>
            <button type="button" class="btn btn-outline-primary">За год</button>
        </div>
    </div>

    <div class="row no-guter">
        {% for name, period in zip(['сегодня', 'неделю', '30 дней', 'год'], [day, month, week, year]) %}
            {% include "include/period_progress.html" %}
        {% endfor %}
    </div>
</div>
{% endblock %}