{% extends "base.html" %}

{% block styles  %}
  {{ super() }}
  <link href="/static/stats.css" rel="stylesheet">
{% endblock styles  %}

{% block title %}Статистика по оценкам{% endblock title %}
{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center mt-5">
        <div class="btn-group">
            <a href="/stats?period=day" class="btn btn-outline-primary{% if current == 'day' %} active{% endif %}">За сегодня</a>
            <a href="/stats?period=week" class="btn btn-outline-primary{% if current == 'week' %} active{% endif %}">За неделю</a>
            <a href="/stats?period=month" class="btn btn-outline-primary{% if current == 'month' %} active{% endif %}">За месяц</a>
            <a href="/stats?period=year" class="btn btn-outline-primary{% if current == 'year' %} active{% endif %}">За год</a>
        </div>
    </div>

    <div class="row no-guter">
        {% include "include/period_progress.html" %}
    </div>
</div>
{% endblock %}