{% extends "base.html" %}

{% block title %}asd{% endblock %}

{% block styles %}
  {{ super() }}
  <link href="/static/vote.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script defer src="/static/vote.js"></script>
{% endblock scripts %}

{% block content %}
    <div id="main-data" class="container-fluid">
        <h3 class="text-center mt-3">Оцените качество оказанных услуг по 5 балльной системе</h3>
        <form id="vote-form" method="POST" action="">
        <div class="rating">
          <input type="radio" name="rating" value="5" id="5"><label class="rating-label" for="5" data-title="Очень хорошо">☆</label>
          <input type="radio" name="rating" value="4" id="4"><label class="rating-label" for="4" data-title="Хорошо">☆</label>
          <input type="radio" name="rating" value="3" id="3"><label class="rating-label" for="3" data-title="Средне">☆</label>
          <input type="radio" name="rating" value="2" id="2"><label class="rating-label" for="2" data-title="Плохо">☆</label>
          <input type="radio" name="rating" value="1" id="1"><label class="rating-label" for="1" data-title="Очень плохо">☆</label>
        </div>
        <p id="vote-text" class="text-center">&nbsp;</p>
        <div class="row"><div class="col text-center"><button id="submit-btn" type="submit" class="btn btn-primary">Отправить</button></div></div>
        </form>
    </div>
{% endblock %}