{% if total %}
        <div class="col-12"><h2 class="text-center mt-5 mb-4" >Статистика оценок за {{ period_name }} </h2></div>
        <div class="col-4 border-end">
            <div class="rating-score text-center">{{ "%.1f"|format(rating) }}</div>
            <p class="text-center fs-4 text- fw-light">проголосовало: {{total }}<p>
        </div>
        <div class="col-8">
            <div class="d-flex align-items-center progres-row">
                <div class="stars text-end">5</div>
                <div class="progress flex-grow-1"><div class="progress-bar bg-success bg-opacity-75" style="width: {{ (rate5 / total) * 100}}%"></div></div>
                <div class="percentage text-end">{{ "%.1f"|format((rate5 / total) * 100) }}%</div>
            </div>
            <div class="d-flex align-items-center progres-row">
                <div class="stars text-end">4</div>
                <div class="progress flex-grow-1"><div class="progress-bar bg-warning bg-opacity-75" style="width: {{ (rate4 / total) * 100}}%"></div></div>
                <div class="percentage text-end">{{ "%.1f"|format((rate4 / total) * 100) }}%</div>
            </div>
            <div class="d-flex align-items-center progres-row">
                <div class="stars text-end">3</div>
                <div class="progress flex-grow-1"><div class="progress-bar bg-warning bg-opacity-75" style="width: {{ (rate3 / total) * 100}}%"></div></div>
                <div class="percentage text-end">{{ "%.1f"|format((rate3 / total) * 100) }}%</div>
            </div>
            <div class="d-flex align-items-center progres-row">
                <div class="stars text-end">2</div>
                <div class="progress flex-grow-1"><div class="progress-bar bg-danger bg-opacity-75" style="width: {{ (rate2 / total) * 100}}%"></div></div>
                <div class="percentage text-end">{{ "%.1f"|format((rate2 / total) * 100) }}%</div>
            </div>
            <div class="d-flex align-items-center progres-row">
                <div class="stars text-end">1</div>
                <div class="progress flex-grow-1"><div class="progress-bar bg-danger bg-opacity-75" style="width: {{ (rate1 / total) * 100}}%"></div></div>
                <div class="percentage text-end">{{ "%.1f"|format((rate1 / total) * 100) }}%</div>
            </div>
        </div>
{% else %}
    <div class="col-12 mt-5">
        <div class="card">
            <div class="card-body"> <p class="fs-3 text-center">Нет оценок за данный период времени</p> </div>
        </div>
    </div>
{% endif %}